* {
  -webkit-font-smoothing: antialiased;
}

html {
  --bg: #f8f9fa;
  --fg: #333333;
  --primary: #8542eb;
  --primary-low: #8542eb70;
  --secondary: #4bc7ef;
  --success: rgb(90, 206, 132);
  --input: #f6f2fd;
  --error: #f9ba37;
  --gray: #555;
  --light-gray: #ccc;
  --shadow: #e6e6e6;
  background-color: var(--bg);
  /*body font*/
  font-size: 13px;
  font-weight: 500;
  /* identical to box height, or 123% */
  color: var(--fg);
  font-feature-settings: "case" on;
  /* background     : url(assets/cheddar-farm-background.svg) no-repeat; */
  background-size: 100% auto;
  background-color: #f8ede7;
  /* Fill width, retain proportions */
}

*:focus {
  outline-style: none;
  outline-color: (--primary);
  outline-width: 1px;
  /* box-shadow   : var(--primary-low) 0px 0px 0px 2px; */
  border-radius: 6px;
}

#logo:focus {
  outline-style: none;
  outline-color: (--primary);
  box-shadow: none;
  outline-width: 0px;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  line-height: 1;
  margin: 0;
}

header {
  display: flex;
  flex-flow: row;
  align-items: center;
  /**margin     : 15px 15px 15px 15px;**/
}

h1 {
  /* heading-1 */
  font-weight: normal;
  font-size: 40px;
  line-height: 40px;
  /* identical to box height, or 120% */
  color: #272d36;
}

h2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  /* identical to box height, or 109% */
  color: #fd941f;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 15px;
}

h2 img {
  vertical-align: middle;
  box-shadow: rgb(0 0 0 / 19%) 0px 2px 14px;
  width: 35px;
  height: 35px;
  padding: 5px;
  border-radius: 50%;
  justify-content: center;
}

h3 {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  margin-top: 1em;
  margin-bottom: 0;
  /* identical to box height, or 112% */
  display: flex;
  align-self: flex-start;

  color: #333333;
  margin: 0px;
}

h4 {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  text-align: center;
  margin-top: 1em;
  margin-bottom: 0;

  color: #333333;
}

h5 {
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height, or 146% */

  display: flex;
  align-items: center;
  margin-top: 0.3em;
  margin-bottom: 0;

  color: #333333;
}

p {
  font-size: 13px;
  line-height: 18px;
  /* identical to box height, or 146% */
  margin-top: 0.4em;
  margin-bottom: 0;
  font-weight: 400;
}

header div.title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  flex: 1 1 15%;
  white-space: break-spaces;
  margin-left: 18px;
}

header nav {
  flex: 1 1 85%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
}

a {
  text-decoration: none;
}

a:any-link {
  color: var(--fg);
  font-weight: 500;
}

a.selected {
  color: #8542eb;
  font-weight: bold;
}

header nav a {
  flex: 0 1 auto;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 14px;
}

div {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-size: 100%;
  vertical-align: baseline;
}

.grid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 1rem;
}
.grid > form {
  background: #f8ede7;
}

#token-header {
  display: inline;
  padding: 1em 0 2em 0;
  margin-left: 25px;
}

#token-header span.icon,
#token-header img.icon {
  display: inline-block;
  vertical-align: middle;
  box-shadow: rgb(0 0 0 / 19%) 0px 2px 14px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  justify-content: center;
}

#token-header span.name {
  font-weight: 600;
  font-size: 22px;
  line-height: 22px;
  color: #222222;
  vertical-align: middle;
}

.pool-meta {
  display: flex;
  flex-direction: row;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-width: 75%;
}

/* .pool-meta div:nth-child(1) {
  color      : rgb(6, 55, 103);
  font-size  : 16px;
  font-weight: 400;
  line-height: 1.5;
}

.pool-meta div:nth-child(2) {
  color      : rgb(6, 55, 103);
  font-size  : 16px;
  font-weight: 600;
  line-height: 1.5;
} */

/* .pool-meta.deposit div:nth-child(1) {
  color      : rgb(6, 55, 103);
  font-size  : 20px;
  font-weight: 400;
  line-height: 1.5;
}

.pool-meta.deposit div:nth-child(2) {
  color      : rgb(6, 55, 103);
  font-size  : 24px;
  font-weight: 600;
  line-height: 1.5;
} */

/* .pool-meta.earned div:nth-child(1), .pool-meta.staked div:nth-child(1) {
  color         : rgb(15, 132, 248);
  font-size     : 12px;
  font-weight   : 600;
  line-height   : 1.5;
  padding-right : 3px;
} */

/* .pool-meta.earned div:nth-child(2), 
.pool-meta.staked  div:nth-child(2) {
  color         : rgb(108, 157, 205);
  font-size     : 12px;
  font-weight   : 600;
  line-height   : 1.5;
  text-transform: uppercase;
} */

.pool-meta.earned.amount,
.pool-meta.staked.amount {
  align-items: center;
  padding-top: 0;
}

/* .pool-meta.earned.amount div:nth-child(1), .pool-meta.staked.amount div:nth-child(1){ 
  font-size  : 20px;
  font-weight: 600;
  line-height: 1.1;
  color      : rgb(6, 55, 103);
} */

.pool-meta.earned.amount div button,
.pool-meta.staked.amount div button,
#deposit button {
  margin: 0;
  background: rgb(68, 196, 226);
  color: white;
}

#deposit button {
  font-weight: 700;
}

#deposit {
  text-align: center;
  margin-bottom: 200px;
}

#deposit p {
  text-align: center;
  font-size: 11px;
  font-weight: 600;
}

.pool-meta.wallet-balance {
  /* display        : flex; */
  /* justify-content: center; */
  min-width: 95%;
}

.pool-meta.data-container div:nth-child(1) {
  box-align: center; /* As specified */
  -moz-box-align: center; /* Mozilla */
  -webkit-box-align: center;
  align-items: center;
  /* color            : rgb(6, 55, 103); */
  display: flex;
  font-size: 14px;
  font-weight: 700;
  height: 22px;
  -webkit-box-pack: end;
  justify-content: center;
  margin-bottom: 10px;
}
*/ .user-info {
  background-color: #4bc7ef;
  border-radius: 10px;
  padding: 0.5em 1em;
}

.pool-meta.actions {
  justify-content: center;
}

.pool-meta.actions button {
  padding: 1rem;
  min-width: 48px;
}

.stake-action {
  fill: white;
}

.user-info span {
  display: inline-block;
  color: var(--bg);
  font-weight: 400;
  font-size: 14px;
  line-height: 11px;
  padding-left: 0.5em;
  margin-top: 0px;
}

.error {
  color: var(--error);
}

#wallet-selection {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.wallet-box {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
  font-size: 11px;
}

.wallet-logo {
  width: 128px;
  height: 128px;
}

.near-logo {
  background-image: url(assets/near-logo-black.svg);
}

.narwallets-logo {
  background-image: url(assets/narwallets_logo_128.png);
}

main {
  /*  display    : flex;
  flex-flow  : column;
  align-items: center;*/
}

article,
form,
.popup,
.flex-column {
  /* display    : flex;
  flex-flow  : column; */
  align-items: center;
  text-align: center;
}

article,
form,
.box {
  padding: 20px 10px 30px 10px;
  background: #f8ede7;
  box-shadow: 0px 0px 20px rgba(220, 226, 235, 0.7);
  border-radius: 12px;
  margin: 1em;
}

/*phones*/
@media only screen and (max-width: 360px) {
  html {
    font-size: 11px;
  }

  section,
  article,
  form {
    min-width: 280px;
  }

  header div.title {
    margin-left: 2px;
  }

  header nav a {
    font-size: 11px;
    padding-bottom: 6px;
  }

  .user-info span {
    font-size: 9px;
  }
}

/*laptop/desktop*/
@media only screen and (min-width: 600px) {
  section,
  article,
  form {
    min-width: 280px;
  }
}

.input-group {
  flex-flow: row;
  background: #ffffff;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  width: 95%;
  margin: 6px;
}

input,
.input-group span {
  flex: 1 1 100%;
  background: #ffffff;
  border: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  margin-left: 4px;
  text-align: left;
  white-space: nowrap;
}

.input-group span {
  flex: 1 1 30%;
}

.inside-input {
  color: #8542ebcc;
  cursor: pointer;
  text-align: right;
}

button {
  font-weight: 400;
  font-size: 16px;
  height: 48px;
  min-width: 50%;
  background: #1b1c20;
  border-radius: 16px;
  color: hsla(0, 0%, 100%, 0.8901960784313725);
  margin: 5px 7px;
  padding: 0 24px;
  border: 0;
  box-shadow: inset 0 -1px 0 0 rgb(14 14 44 / 40%);
}

button:disabled {
  opacity: 0.5;
}

button.hollow {
  border: 1px solid var(--primary);
  background: var(--gf);
  color: var(--primary);
  padding-top: 2px;
  padding-bottom: 2px;
}

.hQrVZb {
  display: flex;
}

.hQrVZb svg {
  width: 20px;
  height: 20px;
}

.eUMSBu {
  fill: white;
  flex-shrink: 0;
}

.gAaTZf {
  -webkit-box-align: center;
  align-items: center;
  background-color: var(--primary);
  border: 0px;
  border-radius: 16px;
  box-shadow: none;
  color: white;
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  width: max-content;
  height: 48px;
  line-height: 1;
  letter-spacing: 0.03em;
  -webkit-box-pack: center;
  justify-content: center;
  outline: 0px;
  padding: 0px 24px;
  transition: background-color 0.2s ease 0s;
  opacity: 1;
  margin-right: 6px;
}

.hwJKVX {
  -webkit-box-align: center;
  align-items: center;
  background-color: var(--primary);
  border: 0px;
  border-radius: 16px;
  box-shadow: none;
  color: white;
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  width: max-content;
  /* height: 48px; */
  line-height: 1;
  letter-spacing: 0.03em;
  -webkit-box-pack: center;
  justify-content: center;
  outline: 0px;
  padding: 0px 24px;
  transition: background-color 0.2s ease 0s;
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  justify-content: center;
  background-color: #d3d3d373;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.red-x {
  background-image: url(assets/red-x.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 1em;
}

.popup {
  min-width: 350px;
}

h3.popup {
  align-self: stretch;
}

fieldset {
  border: 0;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  padding-block-start: 0.75em;
}

#meta-stats h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: rgb(68, 196, 226);
  text-align: center;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

/* .stat-line {
  display        : flex;
  flex-flow      : row;
  justify-content: space-between;
  padding        : 10px 0px;
  width          : 100%;
} */

.stat-line:not(:nth-child(1)) {
  /*border-top: 1px dashed #D8DBE5;*/
}

.stat-line dt {
  flex: 1 1 100%;
}

.stat-line dd {
  flex: 1 1 10%;
  display: inline-flex;
  font-weight: 500;
}

.stat-small-line {
  flex-flow: row;
  padding: 2px 0px 7px 10px;
  display: flex;
  width: 100%;
  margin-top: -0.9em;
  font-size: 0.8em;
}

.line-left {
  display: flex;
  flex-flow: column;
}

.line-left span {
  margin: 2px;
}

.line-right {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: center;
}

.bold {
  font-weight: 700;
}

.large {
  font-size: 1.2em;
}

img.icon {
  width: 32px;
  height: 32px;
}

small img {
  width: 16px;
  height: 16px;
  position: relative;
  top: 4px;
}

/* Tooltip container */
.tooltip {
  display: inline-block;
  position: relative;
  top: 0.2em;
  font-size: 11px;
  white-space: nowrap;
  word-break: keep-all;
}

/* Tooltip text */
.tooltip .tooltip-text {
  position: absolute;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  /* Position the tooltip text*/
  visibility: hidden;
  width: 24em;
  left: -11em;
  top: 0.5em;
  z-index: 1;
  word-break: break-word;
  white-space: break-spaces;
  max-width: 50vw;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltip-text {
  visibility: visible;
}

.info {
  background-image: url(assets/info.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 3px;
  margin-left: 5px;
}

.confirmed {
  background-image: url(assets/confirm.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px;
}

.spinner {
  background-image: url(assets/spinner.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
  padding: 20px;
  margin-top: 8px;
}

.symbol {
  transform: scale(0.65);
}

.near,
.meta {
  word-break: keep-all;
  white-space: nowrap;
}

/*.near:after,
.meta:after {
  display    : inline-block;
  content    : "\24c3";
  transform  : scale(0.65);
  font-weight: 400;
}
*/
.meta:after {
  content: "\24c2";
}

.cheddar:after {
  display: inline-block;
  content: "\24B8";
  transform: scale(0.65);
  font-weight: 400;
}

.pct:after {
  transform: scale(0.8);
  margin-left: 0.4em;
  content: "%";
}

.header-note {
  font-size: 14px;
  word-break: break-word;
  white-space: break-spaces;
  text-align: left;
  align-self: self-start;
  padding-top: 10px;
}

.footer-note {
  font-size: 12px;
  word-break: break-word;
  white-space: break-spaces;
  text-align: left;
  align-self: self-start;
  border-top: 1px dashed #d8dbe5;
  padding-top: 10px;
}

.box.popup,
.box.popup button,
.box.popup img {
  margin-top: 15px;
}

.confirm-cancel-line {
  align-self: flex-end;
}

.small {
  font-size: 11px;
  font-weight: 400;
}

.hidden {
  display: none;
}

#max {
  display: none;
}

a#terms-of-use {
  color: blue;
}

input[type="checkbox"][disabled] {
  outline: 1px solid blue;
}

input#terms-of-use {
  background-color: green;
}

input[type="checkbox"]#terms-of-use {
  display: none;
}

.disclaimer {
  margin-top: 10px;
}

.disclaimer label:before {
  background: green;
  border: 1px solid #035f8f;
  height: 18px;
  width: 18px;
  display: inline-block;
  cursor: pointer;
}
input[type="checkbox"]#terms-of-use + label:before {
  content: "";
  background: blue;
  border-color: blue;
  color: blue;
  font-size: 15px;
  line-height: 15px;
  text-align: center;
}

input[type="checkbox"]#terms-of-use:disabled + label:before {
  border-color: #ccc;
  color: blue;
  background: #ddd;
}

input[type="checkbox"]#terms-of-use:checked + label:before {
  content: "✓";
}

.max {
  background: #1b1c20;
  color: #fff;
  font-size: 14px;
  padding: 4px;
  border-radius: 8px;
  margin: 0;
}

#near-deposit-balance a {
  display: inline-block;
}

#home,
#faq,
#my-account {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.pool {
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* padding: 35px; */

  position: static;
  /* width: 393.33px; */
  /* height: 577.37px; */
  left: 0px;
  top: 0px;

  border-radius: 8px;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 1;
  /* margin: 0px 50px; */
}

.deposit {
  background: #d18436;
  border-radius: 8px;
  width: 125px;
  height: 43px;
}

.withdraw {
  background: #915731;
  border-radius: 8px;
  width: 125px;
  height: 43px;
}

.data {
  color: #d18436;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  margin: 0 20px;
}

.data-container {
  display: flex;
  justify-content: space-between;
}

.data > * {
  border-bottom: #915731 solid 1px;
  padding: 25px 0;
}

.data-item div {
  margin-left: 10px;
  font-size: 1.3em;
}

.ml-6 {
  margin-left: 6px !important;
}

.pool-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid-item {
  width: 90%;
  margin: 0 5%;
}

.pool .input-group {
  border: solid 2px #d18436;
  border-radius: 8px;
}

.contract-data-container {
  background: #1b1c20;
  padding: 20px;
}

.cookie-price-container {
  display: flex;
  background: #f8ede7;
  align-items: center;
  padding: 40px 0px;
  justify-content: center;
  border-radius: 8px;
  margin-bottom: 80px;
}

.flex {
  display: flex;
}

/* navbar */

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Bold.ttf");
}

#containerNavBar {
  background: #f8ede7;
  box-shadow: 0px 4px 8px rgba(209, 132, 54, 0.15);
  margin-bottom: 25px;
  padding: 0 30px;
}

#containerNavBar nav {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  position: static;
  max-width: 1080px;
  height: 80px;
  left: 30px;
  top: 250px;
}
nav #tabs {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  cursor: pointer;
}

nav a#logo {
  padding: 0px;
  margin-right: 30px;
}

nav img {
  height: 40px;
  margin: 0px;
  padding: 0px !important;
}

nav #minting,
nav #market,
nav #faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 3px 30px 0 30px;

  position: static;
  height: 17px;
  left: 175px;
  top: 0px;

  font-family: "Roboto", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  /* identical to box height */

  color: #915731;
}

.menuSelected {
  position: static;
  width: 36.01px;
  height: 0px;
  left: 4.5px;
  top: 17.01px;
  margin: auto;

  border: 1px solid #d18436;
  transform: rotate(-1.6deg);
}

.btnConnectWallet {
  color: white;
  background: #915731;
  border: 3px solid #d18436;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 10px 20px;
  min-width: 194px;
  height: 42px;
  font-family: "Roboto";
}

.btnConnectWallet span {
  font-size: 14px;
  margin: auto;
}

/*footer*/

footer {
  position: relative;
  bottom: 0px;
  height: 70px;
  width: 100%;
  background: #915731;
  display: flex;
  justify-content: center;
}

footer p {
  font-family: "Roboto";
  font-size: 18px;
  color: white;
  align-self: center;
  margin: "auto";
}

html,
body,
main {
  min-height: 100vh;
}

html {
  min-height: 100%;
  position: relative;
}
#root {
  margin: 0;
  margin-bottom: 70px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
}

#timer {
  text-align: center;
  font-family: 'Inter var', sans-serif;
  font-size: 28px;
  font-weight: 300;
  font-feature-settings: "case" on;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-family: Roboto;
}

.data-container .small {
  font-size: 13px;
}

.image-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding-bottom: 10px;
}

.image-container img{
  width: 90px;
  height: auto; 
  padding-left: 5px; 
}

.result-info {
  display: block;
  background-color: #f8ede7;
  text-align: center;
  justify-content: center;
  padding: 10px 0px;
  justify-content: center;
  border-radius: 8px;
  font-size: 1.2em;
  box-shadow: 0px 0px 20px rgba(220, 226, 235, 0.7);
  margin: 1em;
  min-width: 280px;
  font-family: Roboto;
}

.result-info div {
  padding: 5px 0;
}